<div>
    <h1>Ask a Question Partial</h1>
    <div ng-if="errormessage">
      <p>{{errormessage}}</p>
    </div>
    <div>

        <h3>New Question</h3>
        <hr/>
        <form ng-submit="createQuestion()">
            <label for="question">Question:</label>
            <input type="text" ng-model="new_question.question">
            <label for="description">Description(optional):</label>
            <textarea name="description" rows="4" cols="50" ng-model="new_question.description"></textarea>
            <input type="submit" value="Submit">
        </form>
        <!-- <table class="table table-striped">
        <thead>
          <th>Product Name</th>
          <th>Quantity Avaliable</th>
          <th>Image</th>
        </thead>
        <tbody>
          <tr ng-repeat="p in products">
            <td ng-bind="p.name"></td>
            <td ng-bind="p.quantity"></td>
            <td><img src="{{p.url}}"/></td>
          </tr>
        </tbody>
      </table> -->
    </div>
</div>
