<h1>Dashboard Partial</h1>
<a href="#!/createPoll">Create a new poll!</a>
<a href="#!/" ng-click='logout()'>Logout</a>
<hr>
<h3>Current Polls:</h3>
<input type="text" ng-model="search" placeholder="Search...">
<table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Poll Question</th>
      <th>Date Posted</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr ng-repeat="p in polls | filter: search">
        <td ng-bind="p.user"></td>

        <td><a href='#!/poll/{{p._id}}'>{{p.question}}</a></td>
        <td ng-bind="p.createdAt"></td>
        <td ng-if="p.user == user">
          <button type="button" class="btn btn-danger" ng-click="deletePoll(p._id)">Delete</button>
        </td>
      </tr>
    </tbody>
</table>
</div>
