<h1>Orders Partial</h1>
<h3>Add a new order</h3>
<div ng-if="errormessage">
  <p>{{errormessage}}</p>
</div>
<form ng-submit = "createOrder()">
    <label for="customername">Customer Name:</label>
    <select name="customername" ng-model="new_order.name" ng-options="customer.first_name for customer in customers">
        <option ng-bind="customer.first_name"></option>
    </select>
    <label for="quantity">Order:</label>
    <select name="quantity" ng-model="new_order.quantity" ng-options="order for order in orderQuantity">
          <option ng-bind="order"></option>
    </select>
    <label for="productname">Order:</label>
    <select name="productname" ng-model="new_order.product" ng-options="product.name for product in orderProducts">
          <option ng-bind="product.name"></option>
    </select>
    <input type="submit" value="Place Order">
</form>
<table class="table table-striped table-bordered">
    <thead>
      <th>Name</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Date</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr ng-repeat="order in placedOrders | filter: filter_order">
        <td ng-bind="order.name"></td>
        <td ng-bind="order.product"></td>
        <td ng-bind="order.quantity"></td>
        <td ng-bind="order.createdAt"></td>
        <td><button type="button" ng-click="deleteOrder(order)">Delete</button></td>
      </tr>

    </tbody>
</table>
